@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

/* Header */
header {
    border-style: solid;
}

header > * {
    border-style: double;
    border-color: red;
}

header > * > * {
    border-style: double;
    border-color: green;
}

header > * > * > * {
    border-style: double;
    border-color: blue;
}

/* Main */
main {
    border-style: solid;
}

main > * {
    border-style: double;
    border-color: red;
}

main > * > * {
    border-style: double;
    border-color: green;
}

/* Footer */
footer {
    border-style: solid;
}

footer > * {
    border-style: double;
    border-color: red;
}

footer > * > * {
    border-style: double;
    border-color: green;
}